/* 强制应用中文字体 */
body, p, div, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'WenKai', sans-serif !important;
}

/* 针对代码块使用等宽字体 */
pre, code {
  font-family: 'mono', monospace, sans-serif !important;
}

h1{
  font-size: 1.8rem !important;
}

h2{
  font-size: 1.5rem !important;
}

h3{
  font-size: 1.25rem !important;
}



h4 {
  color: #f9f5f5 !important;
  font-size: 1.1rem !important;
  background-color: #c27f4f;
  display: inline-block;
  padding: 4px 8px;        
  border-radius: 4px;  
}


strong, b {
    color: #2770b9 !important; 
}